<div class="container" style="margin-top: 20px;">
    <h4 style="color: #81b214;">Nutrition:</h4>
    <p>Nutrition is a user-friendly website that was built to calculate the intake of nutrients and also to calculate the Body Mass Index using a BMI Calculator.</p>
    <br>
    <h4 style="color: #81b214;">BMI Calculator:</h4>
    <p>Body Mass Index Calculator takes your height (in cms) and weight (in kgs) and calculates the BMI report which consists of your BMI Index value and also the category of weight you fall under will be displayed along with the BMI value.</p>
    <br>
    <h4 style="color: #81b214;">Nutrients:</h4>
    <p>The Nutrients module consists of a search bar where you can search various food items that you commonly eat on a daily basis. You can add as many items you want into the tray and when you subit the tray you will get the amount of calories you have taken by eatng those items will be displayed in the tabular form.</p>
    <br>
</div>

<div class="container">
    <h4 style="color: #81b214;">A PROJECT DONE BY:</h4>
    <ul>
        <li>U AAYUSH (18071A05C5)</li>
        <li>B VEERASAI (18071A05C7)</li>
        <li>G SAI THANMAYEE (18071A05E2)</li>
        <li>L REVATHI CHOWHAN (18071A05F2)</li>
    </ul>
</div>

