<nav class="navbar navbar-expand-lg" style="background-color: #81b214;">
  <div class="container-fluid">
    <i class="fas fa-heartbeat" style="font-size: 40px; color: white; padding-right: 5px;"></i>
    <a class="navbar-brand"  style="color: white;"><i>KALORIE</i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="home" routerLinkActive="active" style="color: white;">HOME</a>
        <a class="nav-link" routerLink="bmi" routerLinkActive="active" style="color: white;">BMI CALCULATOR</a>
        <a class="nav-link" routerLink="nutrients" routerLinkActive="active" style="color: white;">NUTRIENTS</a>
        <a class="nav-link" routerLink="aboutus" routerLinkActive="active" style="color: white;">ABOUT US</a>
      </div>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>



